# Ignore all files in the plans directory
/plans/*

# Temporary files for Claude
tmpclaude*

# Ignore all files in the .vscode directory
.vscode/

# Ignore all node_modules directories
node_modules/

# Build output
dist/
